:root {
  --orange-light: #e28058;
  --purple-primary: #7750f8;
}

// Hexagon
.mask {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.mask-hexagon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTgyJyBoZWlnaHQ9JzIwMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNLjMgNjUuNDg2YzAtOS4xOTYgNi42ODctMjAuMDYzIDE0LjIxMS0yNS4wNzhsNjEuODYtMzUuOTQ2YzguMzYtNS4wMTYgMjAuODk5LTUuMDE2IDI5LjI1OCAwbDYxLjg2IDM1Ljk0NmM4LjM2IDUuMDE1IDE0LjIxMSAxNS44ODIgMTQuMjExIDI1LjA3OHY3MS4wNTVjMCA5LjE5Ni02LjY4NyAyMC4wNjMtMTQuMjExIDI1LjA3OWwtNjEuODYgMzUuOTQ1Yy04LjM2IDQuMTgtMjAuODk5IDQuMTgtMjkuMjU4IDBMMTQuNTEgMTYxLjYyQzYuMTUxIDE1Ny40NC4zIDE0NS43MzcuMyAxMzYuNTRWNjUuNDg2WicgZmlsbD0nYmxhY2snIGZpbGwtcnVsZT0nbm9uemVybycvPjwvc3ZnPg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTgyJyBoZWlnaHQ9JzIwMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNLjMgNjUuNDg2YzAtOS4xOTYgNi42ODctMjAuMDYzIDE0LjIxMS0yNS4wNzhsNjEuODYtMzUuOTQ2YzguMzYtNS4wMTYgMjAuODk5LTUuMDE2IDI5LjI1OCAwbDYxLjg2IDM1Ljk0NmM4LjM2IDUuMDE1IDE0LjIxMSAxNS44ODIgMTQuMjExIDI1LjA3OHY3MS4wNTVjMCA5LjE5Ni02LjY4NyAyMC4wNjMtMTQuMjExIDI1LjA3OWwtNjEuODYgMzUuOTQ1Yy04LjM2IDQuMTgtMjAuODk5IDQuMTgtMjkuMjU4IDBMMTQuNTEgMTYxLjYyQzYuMTUxIDE1Ny40NC4zIDE0NS43MzcuMyAxMzYuNTRWNjUuNDg2WicgZmlsbD0nYmxhY2snIGZpbGwtcnVsZT0nbm9uemVybycvPjwvc3ZnPg==);
}

// flex basis
.basis15 {
  flex: 0 0 15%;
}
.basis20 {
  flex: 0 0 20%;
}
.basis28 {
  flex: 0 0 28%;
}
.basis32 {
  flex: 0 0 32%;
}
.basis40 {
  flex: 0 0 40%;
}
.basis45 {
  flex: 0 0 45%;
}

.global-container {
  padding: 12rem 0;
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  .small-semibold {
    font-size: 16px;
    font-weight: 600;
  }
}

.btn {
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
}
.btn-bordered {
  border: 2px solid white;
}
.btn-orange-light {
  background: var(--orange-light);
}
.btn-purple-primary {
  background: var(--purple-primary);
}
.btn-disabled {
  background: #3f485f;
  cursor: not-allowed;
}

.item-gray {
  padding: 10px;
  background: #2a334b;
  border-radius: 10px;
}

// Home
#home {
  #launchpad-header {
    .action-container {
      .btn-bordered {
        transition: all 250ms ease-in-out;
        &:hover {
          background: var(--orange-light);
          border-color: var(--orange-light);
        }
      }
    }
  }
  #launchpad-tab {
    button.active-tab {
      background: #eaaa90;
      color: #cd4e2b;
    }
    .slick-list {
      .slicl-slide {
        padding-right: 10px;
      }
    }
    .card-wrap {
      max-width: 224px;
    }
    .content-container {
      background: #1d2333;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      .action-container {
        .btn-bordered {
          transition: all 250ms ease-in-out;
          &:hover {
            background: var(--orange-light);
            border-color: var(--orange-light);
          }
        }
      }
    }
    .social img {
      cursor: pointer;
    }

    // btn carousel
    .item-tab-container {
      .slick-slider {
        .slick-prev {
          top: -56px;
          right: 32px;
          left: unset;
        }
        .slick-next {
          transform: rotate(180deg);
          top: -66px;
          right: 0;
          left: unset;
        }
        .slick-prev:before {
          content: url("../public/images/svg/icon-arrow-left.svg");
        }
        .slick-next:before {
          content: url("../public/images/svg/icon-arrow-left.svg");
        }
      }
    }
  }
  #launchpad-market {
    .item-market-brand {
      .brand-container {
        padding: 8px;
        background: #6f42c1;
        .brand-wrap {
          padding: 8px;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  #launchpad-products {
    .item-products-container {
      min-height: 355px;
      position: relative;
      .item-products-wrap {
        position: absolute;
        bottom: -134px;
        width: 100%;
        .product {
          background: #2a334b;
          overflow: hidden;
          border-radius: 10px;
          .img-wrap {
            min-height: 224px;
          }
        }
      }
    }
  }
}

// Detail Page
#detailPage {
  .content-header {
    .profile-pict-container {
      padding: 8px;
      background: #3f485f;
    }
    .profile-wrap {
      width: 86px;
      height: 86px;
      padding: 8px;
    }
  }
  // btn carousel
  .item-wrapper {
    .slick-slider {
      .slick-prev {
        top: -27px;
        right: 32px;
        left: unset;
      }
      .slick-next {
        transform: rotate(180deg);
        top: -37px;
        right: 0;
        left: unset;
      }
      .slick-prev:before {
        content: url("../public/images/svg/icon-arrow-left.svg");
      }
      .slick-next:before {
        content: url("../public/images/svg/icon-arrow-left.svg");
      }
    }
  }
}
// Item Launchpad
#item-launchpad {
  max-width: 224px;
  background: #1d2333;
  border-radius: 10px;
  overflow: hidden;
  .pre-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    p {
      font-size: 14px;
    }
  }
  .pre-title,
  .price .title {
    color: #9aa4bf;
  }
  .price-bar {
    width: 100%;
    height: 10px;
    background: #2a334b;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .price-inner-bar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: #40d04f;
      width: 30%;
      &.full {
        background: red;
        width: 100%;
      }
    }
  }
  .btn {
    padding: 10px 0;
    &.btn-purple-primary {
      &:hover {
        background: #8a66ff;
      }
    }
  }
}

@media (max-width: 940px) {
  .global-container {
    padding-top: 5rem;
  }
  #home {
    &.global-container {
      padding-bottom: 0;
    }
    #launchpad-header {
      h1 {
        font-size: 18px;
      }
      .small-semibold {
        font-size: 12px;
      }
    }
    #launchpad-tab {
      .card-wrap {
        padding-right: 10px;
      }
      .tab-action-container {
        button {
          padding: 5px 10px;
          border-radius: 5px;
        }
      }
      .item-tab-container {
        .slick-slider {
          .slick-arrow {
            display: none !important;
          }
        }
      }
    }
    #launchpad-market {
      .item-market-brand {
        margin-right: 20px;
        .brand-container {
          padding: 4px;
          .brand-wrap {
            padding: 5px;
            height: 50px;
            width: 50px;
          }
        }
      }
    }
    #launchpad-products {
      background: #361b93;
      .item-products-container {
        min-height: 200px;
        .item-products-wrap {
          bottom: -70px;
          .product {
            flex: 0 0 40%;
            .img-wrap {
              min-height: unset;
            }
          }
        }
      }
    }
  }
  #detailPage {
    .navigation-container {
      margin-bottom: 30px;
    }
    .content-text {
      h2 {
        margin-top: 10px;
      }
    }
    .features-container {
      .slick-slider {
        .slick-prev {
          left: -14px;
          top: 81px;
          z-index: 10;
        }
        .slick-next {
          right: 0px;
          top: 80px;
        }
        .slick-prev:before,
        .slick-next:before {
          font-size: 32px;
        }
      }
    }
    .item-wrapper {
      .wrapper,
      .item-team {
        padding-right: 20px;
      }
    }
  }
}
